---
BasedOnStyle: "Microsoft"
AccessModifierOffset: "-2"
AlignAfterOpenBracket: Align
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
AlignEscapedNewlines: Right
AlignOperands: "true"
AlignTrailingComments: "true"
AllowShortBlocksOnASingleLine: "true"
AllowShortCaseLabelsOnASingleLine: "true"
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: "true"
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: "Yes"
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: "true"
  AfterClass: "true"
  AfterControlStatement: Always
  AfterEnum: "true"
  AfterFunction: "true"
  AfterNamespace: "true"
  AfterStruct: "true"
  AfterUnion: "true"
  AfterExternBlock: "true"
  BeforeCatch: "false"
  BeforeElse: "true"
  BeforeLambdaBody: "false"
  BeforeWhile: "false"
  IndentBraces: "false"
  SplitEmptyFunction: "false"
  SplitEmptyRecord: "false"
  SplitEmptyNamespace: "false"
BitFieldColonSpacing: After
BreakBeforeTernaryOperators: "false"
BreakConstructorInitializers: AfterColon
BreakStringLiterals: "false"
ColumnLimit: "150"
ConstructorInitializerAllOnOneLineOrOnePerLine: "false"
ConstructorInitializerIndentWidth: "8"
Cpp11BracedListStyle: "true"
DerivePointerAlignment: "false"
DisableFormat: "false"
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: "true"
IndentCaseLabels: "true"
IndentCaseBlocks: "true"
IndentPPDirectives: BeforeHash
IndentWidth: "8"
IndentWrappedFunctionNames: "false"
KeepEmptyLinesAtTheStartOfBlocks: "false"
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: "true"
SortUsingDeclarations: "true"
SpaceAfterLogicalNot: "false"
SpaceAfterTemplateKeyword: "false"
SpaceBeforeAssignmentOperators: "true"
SpaceBeforeCpp11BracedList: "true"
SpaceBeforeCtorInitializerColon: "true"
SpaceBeforeInheritanceColon: "true"
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: "true"
SpaceInEmptyParentheses: "false"
SpacesBeforeTrailingComments: "8"
Standard: Cpp11
UseTab: Never